.wrap {
    max-width: 1280px;
    margin: 0 auto;
}

h3 {
    font-size: 32px;
    font-weight: 800;
    margin: 230px 0 75px;
    text-align: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.links a img {
    height: 30px;
}

.photos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100%;
    padding: 30px 0 0 30px;
    background-color: #eee;
    margin-bottom: 20px;
}

.box h4 {
    font-size: 18px;
    font-weight: 700;
}