
/* section.uiux */

.uiux {
    max-width: 1280px;
    margin: 200px auto 0;
}

.filter_tab {
    display: flex;
    gap: 78px;
    align-items: center;
    justify-content: center;
    margin-bottom: 82px;
}

.filter_tab button {
    display: block;
    border: none;
    background-color: transparent;
    font-family: 'NanumSquareNeo';
    font-size: 24px;
    font-weight: 700;
    color: #888888;
    cursor: pointer;
}

.filter_tab button.active {
    color: #222222;
    position: relative;
}

.filter_tab button.active::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    width: calc( 100% + 10px );
    height: 12px;
    background: linear-gradient(90deg, rgba(247,219,133,0.8) 0%, rgba(247,219,133,0.2) 100%);
}

.brands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.brands li a {
    width: 640px;
    height: 320px;
    display: flex;
    align-items: center;
}

.brands li .logo {
    width: 320px;
    height: 320px;
    background-color: #ffffff;
    position: relative;
    padding-top: 100px;
    transition: all 0.5s;
    border: 1px solid #e5e5e5;
}

.brands li:hover .logo {
    background-color: #F7DB85;
}

.brands li .logo::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    height: 288px;
    border: 1px solid #0EB5BF;
    z-index: 3;
}

.brands li .logo img {
    width: 200px;
    height: 50px;
    margin: 20px auto;
    object-fit: contain;
}

.brands li:nth-of-type(2) .logo {
    padding-top: 90px;
}

.brands li:nth-of-type(2) .logo img {
    height: 70px;
}

.brands li:hover .logo img {

}

.brands li .logo p {
    text-align: center;
    font-size: 12px;
    color: #000000;
    width: 200px;
    margin: 0 auto;
    position: relative;
    font-weight: 600;
}

.brands li:hover .logo p,
.brands li:hover .logo img {
    animation: hover-ani-logo 0.5s forwards;
}

.brands li:hover .logo p::after {
    content: url('../images/uiux/list_arrow.png');
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 34px;
    height: 14px;
    animation: hover-ani-arr 0.5s forwards;
}

@keyframes hover-ani-logo {
    0% {transform: translateY(0);}
    100% {transform: translateY(-20px);}
}

@keyframes hover-ani-arr {
    0% {bottom: 10px;}
    100% {bottom: -30px;}
}

.brands li .image {
    width: 320px;
    height: 320px;
    overflow: hidden;
    position: relative;
}

.brands li:hover .image::after {
    content: '';
    position: absolute;
    background: rgba(31,31,31,0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.brands li .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s;
}

.brands li:hover .image img {
    transform: scale(1.05);
}



/* section.contents */

.contents {
    width: 100%;
    height: 690px;
}

.slide_area {
    display: inline-block;
    width: 100%;
    position: relative;

}

#text_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 480px;
    padding: 120px 185px 55px 270px;
    color: #ffffff;
}

#topic {
    margin-bottom: 10px;
    font-size: 20px;
}

#title {
    font-family: 'NanumSquareNeo';
    font-size: 40px;
    font-weight: normal;
    line-height: 1.5;
}

#title {
    margin-bottom: 50px;
}

#text_wrap .white {
    margin-bottom: 50px;
}

#text_wrap .btns {
    position: absolute;
    bottom: 55px;
    right: 20%;
    display: flex;
    align-items: center;
    gap: 50px;
    cursor: pointer;
}

#text_wrap .btns .prev,
#text_wrap .btns .next {
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(-45deg);
}

#slider_paging {
    font-size: 16px;
}

#text_wrap .btns .prev {
    transform: rotate(135deg);
}



.slide_wrap {
    position: absolute;
    top: 140px;
    right: -49%;
    display: flex;
    z-index: 50;
    width: 100vh;
}

.slide {
    width: 480px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
}

.slide img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
}

.slick-slide {
    margin: 0 30px 0 0;
}



/* section.graphic */

.graphic {
    position: relative;
    max-width: 1280px;
    margin: 0 auto 300px;
}

.tab_slick {
    margin-bottom: 87px;
}

.tab_slick div,
.filter_tab > div {
    white-space: nowrap;
    line-height: 40px;
    font-weight: 800;
    position: relative;
}

.tab_slick .slick-slide {
    opacity: 0.5;
    padding-left: 126px;
}

.tab_slick div img,
.filter_tab > div img {
    height: 40px;
    margin-right: 14px;
    float: left;
}

.tab_slick .slick-center {
    opacity: 1;
    transition: opacity 0.3s linear;
}

.slick-arrow.slick-hidden {
    display: block !important;
}

.prevArrow, .nextArrow {
    position: absolute;
    top: 144px;
    width: 40px;
}


.prevArrow {
    left: 30%;
}
.nextArrow {
    left: 67%;
}

.prevArrow img, .nextArrow img {
    display: inline;
    cursor: pointer;
}



.scroll_area {
    max-height: 100vh;
    overflow-y: scroll;
    margin-bottom: 80px;
    display: none;
}

.scroll_area:nth-of-type(2) {
    display: block;
}

.scroll_area::-webkit-scrollbar {
    width: 8px;
}

.scroll_area::-webkit-scrollbar-thumb {
    background: #e5e5e5;
    border-radius: 10px;
}

.scroll_area::-webkit-scrollbar-thumb:hover {
    background: #7f7f7f;
}

.scroll_area ul {
    display: flex;
    max-width: 1280px;
}



/* popup-gallery */
.popup-gallery {
    max-width: 1280px;
    margin: 0 auto;
    border: 1px solid rgba(31, 31, 31, 0.2);
    margin-bottom: 80px;
}

.popup-gallery a {
    width: 256px;
    position: relative;
    transition: all 0.7s;
    overflow: hidden;
}

.popup-gallery li a:hover::after {
    content: '';
    position: absolute;
    z-index: 2;
    background: rgba(31,31,31,0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* illustrator */
.popup-gallery.ai {
    display: flex;
}

.popup-gallery.ai li {
    width: 210px;
    padding: 48px 0 0 55px;
    border: 1px solid #eee;
}

.popup-gallery.ai li a {
    display: block;
    width: 100px;
    margin-bottom: 30px;
}

.popup-gallery.ai li a img {
    width: 100%;
    object-fit: contain;
}


/* photoshop */
.popup-gallery.ps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.popup-gallery.ps li {
    width: 320px;
    padding: 48px 0 0 32px;
    border-left: 1px solid rgba(31, 31, 31, 0.3);
}

.popup-gallery.ps li:nth-of-type(1) {
    border-left: none;
}
.popup-gallery.ps li a {
    display: block;
    width: 256px;
    margin-bottom: 50px;
}

.popup-gallery.ps a img {
    width: 100%;
    height: 100%;
    transition: all 0.7s;
    object-fit: cover;
}

.popup-gallery.ps a:hover img {
    transform: scale(1.05);
}

.mfp-arrow {
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.mfp-arrow::after, .mfp-arrow::before {
    display: none !important;
}

.mfp-arrow-left {
    left: 10% !important;
    background-image: url('../images/btn_arrow_prev_white.png') !important;
    
}

.mfp-arrow-right {
    right: 10% !important;
    background-image: url('../images/btn_arrow_next_white.png') !important;
}

/* figma */
.scroll_area.fg,
.noneScroll.fg {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.scroll_area.fg iframe,
.noneScroll.fg iframe {
    width: 600px;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-bottom: 40px;
}



