/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'NanumSquareNeo'; */
/* 300 400 700 800 900 */
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');
/* font-family: 'PyeongChangPeace'; */
/* 300 700 */
@import url('https://webfontworld.github.io/PyeongChang/PyeongChangPeace.css');
/* font-family: 'TTWanjunuricheR'; */
@font-face {
    font-family: 'TTWanjunuricheR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/TTWanjunuricheR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    word-wrap: break-word;
}

*:before, *:after {
    box-sizing: border-box;
    word-break: keep-all;
    word-wrap: break-word;
}

body {
    margin: 0 auto;
    background-color: #ffffff;
    color: #222222;
    font-size: 14px;
    font-family: 'NanumSquareNeo';
    font-weight: 500;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

.wrap {
    width: 100%;
}

h2 {
    font-family: 'Noto Sans KR';
    font-size: 50px;
    color: #222222;
    font-weight: 700;
    text-align: center;
    margin: 200px 0 70px;
}


.load {
    border: none;
    font-size: 15px;
    font-family: 'NanumSquareNeo';
    font-weight: 800;
    color: #222222;
    background-color: transparent;
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 160px;
}

.load::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #0EB5BF;
}

.more {
    font-size: 15px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    position: relative;
    margin: 0 auto;
}

.more::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    transition: color 0.3s;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 100%;
}

.more:hover::after {
    content: url('../images/contents/main_arrow_fff.png');
    position: absolute;
    top: -4px;
    left: 120%;
    width: 100%;
    background-color: transparent;
    transition: content 0.3s;
}



/* header */

.header_wrap {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.1);
    background-color: #ffffff;
    z-index: 999;
}

header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    height: 40px;
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gnb {
    display: flex;
    align-items: center;
    gap: 90px;
}

.gnb > li {
    position: relative;
    font-size: 20px;
}

.gnb > li a {
    display: block;
}

.gnb > li:nth-of-type(1)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -26px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #0EB5BF;
    border-right: 2px solid #0EB5BF;
    transform: translateY(-70%) rotate(45deg);
    cursor: pointer;
}

.gnb > li.on:nth-of-type(1)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -26px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0EB5BF;
    transition: all 0.3s;
}

.gnb ul {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.gnb ul li {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    background-color: #f0f0f0;
}

.gnb ul li:hover {
    background-color: #F7DB85;
}



.mfp-arrow {
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.mfp-arrow::after, .mfp-arrow::before {
    display: none !important;
}

.mfp-arrow-left {
    left: 10% !important;
    background-image: url('../images/btn_arrow_prev_white.png') !important;
    
}



